*, *::before, *::after { box-sizing: border-box; margin: 0; padding: 0; }

body {
  padding: 2rem;
}

h1 {
  text-transform: uppercase;
}

main {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
  gap: 1em;
}